:root {
	--white: #fff;
	--grey-100: #eff1f6;
	--grey-200: #bdc4d1;
	--black: #0a0812;
	--blue-400: #172136;
	/*--blue-100: ;
	--blue-200: ;*/

	--error: #f04242;
	--secondary-blue: #3f57da;
	--primary-blue: #243bb9;
	--primary-green: #4db29a;
	--primary-pink: #4db29a;

	--header-height: 80px;
}
