@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-error: var(--error);
	--color-white: #fff;
	--color-grey-100: #eff1f6;
	--color-grey-200: #bdc4d1;
	--color-black: #0a0812;
	--color-blue-400: #172136;
	/*--color-blue-100: ;
	--color-blue-200: ;*/

	--color-error: #f04242;
	--color-secondary-blue: #3f57da;
	--color-primary-blue: #243bb9;
	--color-primary-green: #4db29a;
	--color-primary-pink: #4db29a;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--primary-blue, currentColor);
	}
}

body {
	color: var(--white);
	background: var(--black);
	font-family: Inter, Helvetica, sans-serif;
}

main {
	padding-top: var(--header-height);
}
